@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:100vh;
    font-family: 'Bangers', cursive;
    flex:1;
    background-color: #34363C;
    overflow: hidden;
}
.player{
    display:flex;
    flex-direction:column;
    align-items:left;
    flex:1;
    gap:3rem;
}
.rock{
    transform: rotate(90deg) scaleX(-1) scale(0.8);
}
.rock:hover{
    transform: rotate(90deg) scaleX(-1) scale(1.0);
}
.paper{
    transform: rotate(180deg) scaleY(-1) scale(1.5);
    
}
.paper:hover{
    transform: rotate(180deg) scaleY(-1) scale(1.9);
}
.scissors{
    transform: scale(1.5);
    left: -1.3rem !important; 
}
.scissors:hover{
    transform: scale(1.8);
}
.machine{
    display:flex;
    flex-direction:row-reverse;
    align-items:left;
    flex:1;

}
.player_img, .machine_img{
    position: absolute;
    width: 15rem;
    height:auto;
    z-index:1;    
}
.player_img{
    left: -2.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.machine_img{
    transform: scaleX(-1);
    transform: rotate(-90deg);
    margin-left: 6rem;
}
.rectangle{
    width: 25rem;
    display: flex;
    align-items: center;
    height: 11rem;
    border-radius: 10px;
}
.yellow{
    width: 10rem;
    background-color: #EDF124;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.red{
    background-color: #C03636;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.central_section{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:1; 
}
.score_text{
    display: flex;
    color: #fff; 
    gap:0.5rem;
    font-size: 2rem;
    -webkit-text-stroke: 0.2rem #000;
}
.versus{
    width:12rem;
    height:auto;
}
a.fill_div{
    display:block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
#result{
    display:none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    flex-direction:column;
    z-index: 2;
    align-items:center;
    justify-content:center;
    flex:1;
    gap:1rem;
}
.popup{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
    background-color: #34363C; 
    border-radius: 10px;
    padding: 2rem;
    width:25rem;
    height:8rem;
}
.outcome{
    color:#fff; 
}